* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: ; */

}

.App {
  text-align: center;
}

.App-header {
  background-color: #8fa0c4;
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.profile {
  width: 20vh;
  border-radius: 10%;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: auto;
}

p {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 75vw;
  color: bisque;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  height: 65vh;
}
